pyrofork
tgcrypto
requests
beautifulsoup4  # 'bs4' is now 'beautifulsoup4'
shortzy
datetime
pytz
aiohttp
yt-dlp
youtube-dl
ytthumb
jinja2
apscheduler
pyshorteners
colorama
numpy  # 'NumPy' should be lowercase 'numpy'
wheel
ujson
wget
aiofiles
hachoir
python-decouple
ffmpeg
youtube-search-python  # combined with 'youtube_search'
pymongo  # removed version
motor  # removed version
marshmallow  # removed version
umongo  # removed version
PyLeaves
opencv-python-headless
googletrans
telegraph
python-dotenv
gTTS
speedtest
humanize
Pillow
psutil
dnspython
ffmpeg-python
pyromod
openai
git+https://github.com/Joelkb/cinemagoer
